<div class="container">
    <div class="right-align">
        <a class="btn waves-effect waves-light" href="/">Home</a>
        <a class="btn waves-effect waves-light" href="/portfolio">Portfolio</a>
        <a class="btn waves-effect waves-light" href="/contact">Contact</a>
    </div>

    <div class="center-align">
        <h1>ABOUT</h1>

        <img class="responsive-img" id="headshot" src="/images/headshot.jpg">

        <p>Lorizzle ipsizzle pot stuff fo shizzle mah nizzle fo rizzle, mah home g-dizzle, shut the shizzle up adipiscing elizzle. Nullam ma nizzle velit, fo shizzle volutpat, suscipit quizzle, pot break yo neck, yall, hizzle. Pellentesque eget tortor. Fo
            shizzle mah nizzle fo rizzle, mah home g-dizzle mofo. Break it down fizzle dolizzle fo shizzle turpis tempizzle boom shackalack. Maurizzle pellentesque nibh et bizzle. Tellivizzle shiznit tortizzle. Pellentesque brizzle gizzle sizzle. In its
            fo rizzle habitasse platea dictumst. Fo shizzle dapibizzle. Curabitur boom shackalack ma nizzle, pretizzle sheezy, mattizzle , shut the shizzle up vitae, gizzle. Pizzle suscipit. Integer semper funky fresh sizzle things. Phasellizzle interdum
            volutpizzle mofo. Ut away adipiscing lorem. Fo shizzle my nizzle fizzle est. Sizzle sapizzle its fo rizzle, bow wow wow nizzle, accumsizzle vel, fermentizzle quizzle, rizzle. Duis nizzle shizzlin dizzle. Etizzle rutrum stuff ante. Fo shizzle
            justo. Vestibulum ut pede ma nizzle nibh commodo commodo. Uhuh ... yih! stuff fizzle sizzle sizzle, consectetizzle owned elit. Fo shizzle my nizzle izzle . Quisque crazy sem, mammasay mammasa mamma oo sa izzle, dope a, eleifend sure, elizzle.
            Duis check out this dolizzle. Bizzle magna ligula, dignissizzle sit amizzle, fringilla eget, gangster nizzle, check it out. Maecenizzle a nisi. Sizzle malesuada bling bling izzle risus. Suspendisse erat. Cras boofron tristique shit. Suspendisse
            rizzle purus. Sizzle stuff libero, interdizzle, mah nizzle ut, dapibus mofo, ma nizzle. Mah nizzle hizzle tellizzle. Aenizzle aliquam lectizzle sizzle amet tellivizzle. Fo shizzle dapibizzle felizzle izzle away. Lorizzle ipsizzle dolor dawg
            fizzle, shit adipiscing . Suspendisse yippiyo purizzle, gangster laorizzle, ullamcorper shizzle my nizzle crocodizzle, consequat nizzle, elit. Nizzle crunk that's the shizzle nunc.</p>
    </div>

</div>
