<div class="container center-align">

    <div class="right-align">
        <a class="btn waves-effect waves-light" href="/">Home</a>
        <a class="btn waves-effect waves-light" href="https://alisuehobbs-q2assessment.herokuapp.com/">Blog</a>
        <a class="btn waves-effect waves-light" href="/portfolio">Portfolio</a>
    </div>

    <h1>CONTACT</h1>

    <div>
        <a href="mailto:alisuehobbs@gmail.com" class="contactButtons"><i class="material-icons ">email</i></li>

    <a href="https://github.com/Alisuehobbs" class="contactButtons"><img class="contactButtonImages" src="http://image.flaticon.com/icons/svg/25/25231.svg" alt="View Ali Sue Hobbs' Github Profile"></a></li>

        <a href="https://www.linkedin.com/pub/alexandra-ali-hobbs/62/32/b08" class="contactButtons"><img class="contactButtonImages" src="https://cdn0.iconfinder.com/data/icons/social-network-7/50/9-128.png" alt="View Alexandra (Ali) Hobbs's LinkedIn profile"></a>
        </li>
    </div>
    <br><br>
    <div class="row">
        <a href="/images/resume.jpg" download="Alexandra Hobbs Resume">Download Resume</a>
    </div>
    <div class="row">
          <img class="materialboxed" height="400" width="auto" src="images/resume.jpg">
    </div>



</div>
