<div class="container center-align">

  <div class="right-align">
    <a class="btn waves-effect waves-light" href="/">Home</a>
    <a class="btn waves-effect waves-light" href="/about">About</a>
    <a class="btn waves-effect waves-light" href="/portfolio">Portfolio</a>
</div>

    <h1>CONTACT</h1>

    <ul>
    <li>Email</li>
    <li>Github</li>
    <li><a class="waves-effect waves-light btn"><i class="mdi mdi-linkedin-box"></i>LinkedIn</a></li>


</div>
