<div class="container center-align">
<h1>Ali Sue Hobbs</h1>
<p>Developer, traveler with an inquisitive, practical mind and an insatiable appetite for food and music.</p>


<a href="/portfolio" class="waves-effect waves-light btn-large">Portfolio</a>
<a href="/contact" class="waves-effect waves-light btn-large">Contact</a>
<a href="https://alisuehobbs-q2assessment.herokuapp.com/" class="btn waves-effect waves-light btn-large">Blog</a>

<div>
<img src="images/headshot.jpg" id="headshot" class="responsive-img">
</div>

</div>
