<div class="container center-align">

    <div class="right-align">
        <a class="btn waves-effect waves-light" href="/">Home</a>
        <a class="btn waves-effect waves-light" href="https://alisuehobbs-q2assessment.herokuapp.com/">Blog</a>
        <a class="btn waves-effect waves-light" href="/contact">Contact</a>
    </div>

    <h1>PORTFOLIO</h1>

    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="images/guiltTrip.jpg">
                </div>
                <div class="card-content">
                    <p>My Quarter1 project at Galvanize was a culmination of the front-end cirriculum; it consisted of HTML5, CSS, manipulating the DOM through jQuery and Javascript functions, and making AJAX calls to apis.
                      <br>Guilt Trip utilizes those tools and the Google Maps api to allow users to calculate the impact of their commute based on different modes of transportation.</p>
                </div>
                <div class="card-action">
                    <a href="https://coolcommute.surge.sh">Guilt Trip</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="images/stubbyPencil.jpg">
                    <span class="card-title">Stubby Pencil Scoring</span>
                </div>
                <div class="card-content">
                    <p>Quarter 2 at Galvanize covered the back-end of web development including Node.js, Express.js, Built in Node.js using Express.js, and SQL databases, specifically PostgreSQL.
                      <br>Stubby Pencil Scoring combined the front-end skills with the back-end to allow users to create and save customizable scorecards for any game.
                <div class="card-action">
                    <a href="https://ksztengel-stubby-pencil.herokuapp.com/">Stubby Pencil Scoring</a>
                </div>
            </div>
        </div>
      </div>
    </div>

</div>
